<?xml version="1.0" encoding="UTF8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--    id:bean的名字，class，实现类的全限定名-->
    <bean id="user" class="com.yang.pojo.User" name="user3" scope="singleton">
        <!--    通过无参构造创建对象：<property name="name" value="杨某"/>-->
        <!--    通过下标赋值创建对象<constructor-arg index="0" value="杨哥学Java"></constructor-arg>-->
        <!--    通过类型创建对象（不推荐使用）<constructor-arg type="java.lang.String" value="OKK">-->
        <!--    直接通过参数名来创建对象-->
        <constructor-arg name="name" value="嘿嘿嘿" ></constructor-arg>
    </bean>
    <!--    如果添加了别名，可以使用别名来获取对象-->
    <alias name="user" alias="user2"></alias>
    <!--    合作开发，导入配置文件-->
<!--    <import resource="beans.xml"></import>-->
</beans>