<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="address" class="com.yang.pojo.Address">
    </bean>

    <bean id="student" class="com.yang.pojo.Student">

        <!--    第一种，普通值注入-->
        <property name="name" value="杨某"></property>
        <!--    第二种，Bean注入-->
        <property name="address" ref="address"></property>
        <!--    数组注入-->
        <property name="books">
            <array>
                <value>红楼梦</value>
                <value>西游记</value>
                <value>水浒传</value>
                <value>三国演义</value>
            </array>
        </property>
        <!--    List注入-->
        <property name="hobbys">
            <list>
                <value>打球</value>
                <value>吃饭</value>
                <value>看电影</value>
            </list>
        </property>
        <!--    Map注入-->
        <property name="card">
            <map>
                <entry key="身份证" value="42282220010502151X"/>
                <entry key="银行卡" value="625955156223322323"/>
            </map>
        </property>
        <!--    Set注入-->
        <property name="games">
            <set>
                <value>LOL</value>
                <value>GOG</value>
            </set>
        </property>
        <!--    null-->
        <property name="wife">
            <null/>
        </property>
        <!--    key-->
        <property name="info">
            <props>
                <prop key="学号">18343109</prop>
            </props>
        </property>
    </bean>
</beans>